name: Release CI

on:
  release:
    types: [published]

jobs:
  build-and-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run build

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v2
      with:
        files: ./dist/qwiklabs-catalog-scraper.user.js
